/*--------------------------------------------
Hoja de Estilo creado por Nextpyme
----------------------------------------------*/
.puntero{
  cursor:pointer!important;
}

.btn_circular{
    width: 80px;
    height: 80px;
    background-color: #d93f3f;
    color:white;
    border-radius: 50px;    
    padding-top: 10px;
    font-size: 40px;
    
}

#alert_datos{
  display: none;
}